# Workflow derived from https://github.com/r-wasm/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    # Only build on main or master branch
    branches: [main, master]
  # Or when triggered manually
  workflow_dispatch: {}

name: Build and deploy wasm R package repository

jobs:
  # Reads `./packages` for package references to put
  # into a CRAN-like repository hosted on GitHub pages
  deploy-cran-repo:
    uses: r-wasm/actions/.github/workflows/deploy-cran-repo.yml@v2
    with:
      packages: cli cli cli cpp11 cpp11 cpp11 farver farver farver ggplot2 ggplot2 ggplot2 glue glue glue graphics graphics graphics grDevices grDevices grDevices grid grid grid gtable gtable gtable isoband isoband isoband labeling labeling labeling lifecycle lifecycle lifecycle methods methods methods R6 R6 R6 RColorBrewer RColorBrewer RColorBrewer rlang rlang rlang S7 S7 S7 scales scales scales stats stats stats utils utils utils vctrs vctrs vctrs viridisLite viridisLite viridisLite withr withr withr
      webr-image: "ghcr.io/r-wasm/webr:v0.5.8"
    permissions:
      # To download GitHub Packages within action
      repository-projects: read
      # For publishing to pages environment
      pages: write
      id-token: write
