# Workflow derived from https://github.com/r-wasm/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    # Only build on main or master branch
    branches: [main, master]
  # Or when triggered manually
  workflow_dispatch: {}

name: Build and deploy wasm R package repository

jobs:
  # Reads `./packages` for package references to put
  # into a CRAN-like repository hosted on GitHub pages
  deploy-cran-repo:
    uses: r-wasm/actions/.github/workflows/deploy-cran-repo.yml@v2
    with:
      packages: askpass backports base64enc bit bit64 blob broom bslib cachem callr cellranger cli clipr conflicted cpp11 crayon curl data.table DBI dbplyr digest disaggR dplyr dtplyr evaluate farver fastmap fontawesome forcats foreign fs gargle generics ggplot2 glue googledrive googlesheets4 graphics grDevices grid gtable haven highr hms htmltools httr ids isoband jquerylib jsonlite knitr labeling lifecycle lubridate magrittr memoise methods mime modelr nycflights13 openssl pillar pkgconfig prettyunits processx progress ps purrr R6 ragg rappdirs RColorBrewer readr readxl rematch rematch2 reprex rlang rmarkdown rstudioapi rvest S7 sass scales selectr stats stringi stringr sys systemfonts textshaping tibble tidyr tidyselect tidyverse timechange tinytex tools tzdb utf8 utils uuid vctrs viridisLite vroom withr xfun xml2 yaml
      webr-image: "ghcr.io/r-wasm/webr:v0.5.8"
    permissions:
      # To download GitHub Packages within action
      repository-projects: read
      # For publishing to pages environment
      pages: write
      id-token: write
